<div>
  <div class="background">
    <div>
      <h1>Jovem DEV Vespertino</h1>
    </div>

    <div>
      <div>
        <a routerLink="bindings">Bindings</a>
      </div>

      <div>
        <a routerLink="ngClass">Ng Class</a>
      </div>

      <div>
        <a routerLink="ngStyle">Ng Style</a>
      </div>

      <div>
        <a routerLink="ngModel">Ng Model</a>
      </div>

      <div>
        <a routerLink="ngIf">Ng If</a>
      </div>

      <div>
        <a routerLink="ngFor">Ng For</a>
      </div>

      <div>
        <a routerLink="ngSwitch">Ng Switch</a>
      </div>

      <div>
        <a routerLink="pipes">pipe</a>
      </div>

      <div>
        <a routerLink="imc">IMC</a>
      </div>

      <div>
        <a routerLink="microondas">Microondas</a>
      </div>

      <div>
        <a routerLink="pai_filho">Pai-filho</a>
      </div>

      <div>
        <a routerLink="filho_pai">Filho-Pai</a>
      </div>

      <div>
        <a routerLink="agrupador">cp-agrupador</a>
      </div>

      <div>
        <a routerLink="tela">tela</a>
      </div>
    </div>
  </div>
  <div class="move-router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
