<div>
  <div class="background">
    <div>
      <h1>Jovem DEV Vespertino</h1>
    </div>

    <div>
      <div>
        <a routerLink="bindings" rou>Bindings</a>
      </div>

      <div>
        <a routerLink="ngClass" rou>Ng Class</a>
      </div>

      <div>
        <a routerLink="ngStyle" rou>Ng Style</a>
      </div>

      <div>
        <a routerLink="ngModel" rou>Ng Model</a>
      </div>

      <div>
        <a routerLink="ngIf" rou>Ng If</a>
      </div>

      <div>
        <a routerLink="ngFor" rou>Ng For</a>
      </div>

      <div>
        <a routerLink="ngSwitch" rou>Ng Switch</a>
      </div>

      <div>
        <a routerLink="pipes" rou>pipe</a>
      </div>

      <div>
        <a routerLink="imc" rou>IMC</a>
      </div>
    </div>
  </div>
  <div class="move-router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
