#format {
  text-align: center;
  background-color: bisque;
  height: 315px;
}

#p-style {
  background-color: darkgoldenrod;
  width: 400px;
  height: 200px;
  margin-left: 30%;
}

#p-style p {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-style: italic;
  text-shadow: 10px 10px 5px black;
}
