<div class="format">
  <div class="timer">
    <p>{{ mostrarTempo }}</p>
    <p *ngIf="mostrarTempo === ''">00 : 00</p>
  </div>
  <button
    *ngFor="let lista of numeros; let i = index"
    [disabled]="estaLigado"
    (click)="pegarNumero(i)"
  >
    {{ lista }}
  </button>

  <button [disabled]="estaLigado" (click)="aumentar(30)">+ 30</button>
  <button [disabled]="estaLigado" (click)="aumentar(60)">+ 60</button>
  <button (click)="cancelar()">cancelar</button>
  <button [disabled]="estaLigado" (click)="comecar()" id="btn-start">
    começar
  </button>
</div>
