h1{
    font-weight: bold;
    border: 4px solid black;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 10px 10px 5px black;
}

.sytleInput input{
    border-radius: 15px;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 4px;
    background-color: burlywood;
}

#buttonId{
    margin: 20px 0 0 20px;
    border-radius: 25%;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 15px 10px 5px black;
}
#buttonId:hover{
    padding: 30px;
    margin: 0 0;
}