#format {
  background-color: burlywood;
  height: 700px;
  text-align: center;
  border: 5px solid black;
}

p {
  font-size: larger;
  font-weight: bold;
  letter-spacing: 5px;
}
h1 {
  font-style: italic;
  text-shadow: 10px 10px 5px black;
}

input {
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 2px black;
}
